header,footer{
	width:1000px;
	margin: 10px auto;
	border: 1px solid #FF0000;
	height: 200px;
}
.f{
	width:1000px;
	margin: auto;
}
section{
	min-height: 500px;
}
aside{
	border: 1px solid #FF0000;
	width: 200px;
	min-height: 500px;
	float: left;
}
aside:nth-child(2){
	float:right;
}
main{
	border: 1px solid #FF0000;
    margin: 0px 260px;
    min-height: 500px;
}
h1{
	margin: 30px;
}
li{
	display: block;
	margin: 80px 20px;
	float: right;
}
a{
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
}
a:link{
	color:#FF0000;
}
a:visited{
	background-color: #D15FEE;
}
a:hover{
	color: 	#EE0000;
}
a:active{
	color:#EE7621;
}
